<html>
	<head>
		<link rel="stylesheet" type="text/css" href="static/css/bootstrap.css">
		<link rel="stylesheet" type="text/css" href="static/css/site.css">
		<link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.2/dist/leaflet.css" />
		<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet"> 
	</head>

	<body>
		<div class="counter">
			<p class="counter" id="counter"></p>
		</div>
		<div id="header">
			<h2 class="row text-center montserrat">VaihtoAdmin</h2>
			<div class="row">
				<textarea id="textbox" class="inputarea" rows="4" cols="50"></textarea>
			</div>
			<div class="row" style="margin-top: 10px; color:#FFFFFF;">
				Pokemón: <input type="text" class="inputarea" id="pokemon"></input>
			</div>
			<div class="row" style="margin-top: 10px;">
				<button class="btn btn-default" onclick="send()">Send</button>
				<button class="btn btn-default" onclick="cleanSelected()">Deselect</button>

			</div>
		</div>

		<div id="messages">
		</div>

		 <div id="map"></div>

		<script type="text/javascript" src="static/js/jquery.js"></script>
		<script type="text/javascript" src="static/js/bootstrap.js"></script>
		<script src="https://unpkg.com/leaflet@1.0.2/dist/leaflet.js"></script>
		<script type="text/javascript" src="static/js/site.js"></script>
	</body>

</html>